html {
    overflow: -moz-scrollbars-vertical; 
    overflow-y: scroll;
}

.caremap-container > .caremap-card {
    margin-bottom: 10px;
    transition: opacity 100ms ease-in;
    opacity: 1;
}

.caremap-container > .caremap-card.inactive .caremap-card-actions:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.caremap-container > .caremap-card.inactive {
    opacity: 0.4;
}

.caremap-container > .caremap-card .caremap-heading {
    margin: 0;
    text-overflow: ellipsis;
    overflow-x: hidden;
}

.caremap-container > .caremap-card .caremap-description {
    margin-top: 10px;
}


.caremap-container > .caremap-card .caremap-card-actions {
    border-top: 1px solid #ccc;
    text-align: right;
}

.caremap-container > .caremap-card .caremap-card-actions a {
    padding: 10px;
    display: inline-block;
    transition: all 100ms ease-in;
    color: #496cd5;
    text-transform: uppercase;
    font-weight: bold;
}

.caremap-container > .caremap-card .caremap-card-actions a:hover,
.caremap-container > .caremap-card .caremap-card-actions a:focus,
.caremap-container > .caremap-card .caremap-card-actions a.active {
    text-decoration: none;
    color: #2a3d75;
}

.caremap-container > .caremap-card .caremap-card-actions a.delete {
    color: #E52D2D;
}

.caremap-container > .caremap-card .caremap-card-actions a.delete:hover,
.caremap-container > .caremap-card .caremap-card-actions a.delete:focus,
.caremap-container > .caremap-card .caremap-card-actions a.delete.active {
    color: #701919;
}

.caremap-container > .caremap-card .caremap-card-details {
    padding: 10px;
}

.graph,
.caremap-container > .caremap-card {
    background-color: #fff;
    box-shadow: 0 1px 4px #bbb;
    -webkit-box-shadow: 0 1px 4px #bbb;
}

.graph {
    height: 700px;
    display: block;
}

@media(max-width:767px) {
    .graph {
        height: 280px;
    }
}
